<a href="https://colab.research.google.com/github/abm4github/IITM-BS-MLP-Notes/blob/main/MLP_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

### importing pandas

In [498]:
import pandas as pd

### loading dataset from sklearn library as pandas dataframe

In [499]:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes(as_frame=True)
diabetes.data.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [500]:
print(type(diabetes['data']))

<class 'pandas.core.frame.DataFrame'>

## Understanding the usage of "(as_frame=True)"

In [501]:
diabetes_notAsFrame = load_diabetes()

### difference between print(diabetes) and print(diabetes_notAsFrame). Are you able to pick the differences? example we have arrays of ['data'] and ['Target'] inside the diabetes_notAsFrame but not in diabetes

In [502]:
print(diabetes)

{'data':           age       sex       bmi        bp        s1        s2        s3  \
0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
..        ...       ...       ...       ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6
0   -0.002592  0.019907 -0.017646
1   -0.039493 -0.068332 -0.092204
2   -0.002592  0.002861 -0.025930
3    0.034309  0.022688 -0.009362
4   -0.002592 -0.031988 -0.046641
..        ...       ...       ...
437 -0.002592  0.031193  0.007207
438  0.034309 -0.018114  0.044485
439 -0.011080 -0.046883  0.015491
440  0.026560  0.044529 -0.025930
441 -0.039493 -0.004222  0.003064

[442 rows x 10 columns], 'target': 0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64, 'frame':           age       sex       bmi        bp        s1        s2        s3  \
0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
..        ...       ...       ...       ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

           s4        s5        s6  target
0   -0.002592  0.019907 -0.017646   151.0
1   -0.039493 -0.068332 -0.092204    75.0
2   -0.002592  0.002861 -0.025930   141.0
3    0.034309  0.022688 -0.009362   206.0
4   -0.002592 -0.031988 -0.046641   135.0
..        ...       ...       ...     ...
437 -0.002592  0.031193  0.007207   178.0
438  0.034309 -0.018114  0.044485   104.0
439 -0.011080 -0.046883  0.015491   132.0
440  0.026560  0.044529 -0.025930   220.0
441 -0.039493 -0.004222  0.003064    57.0

[442 rows x 11 columns], 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n:Number of Instances: 442\n\n:Number of Attributes: First 10 columns are numeric predictive values\n\n:Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n:Attribute Information:\n    - age     age in years\n    - sex\n    - bmi     body mass index\n    - bp      average blood pressure\n    - s1      tc, total serum cholesterol\n    - s2      ldl, low-density lipoproteins\n    - s3      hdl, high-density lipoproteins\n    - s4      tch, total cholesterol / HDL\n    - s5      ltg, possibly log of serum triglycerides level\n    - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n', 'feature_names': ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], 'data_filename': 'diabetes_data_raw.csv.gz', 'target_filename': 'diabetes_target.csv.gz', 'data_module': 'sklearn.datasets.data'}

In [503]:
print(diabetes_notAsFrame)

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990749, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06833155, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286131, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04688253,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452873, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00422151,  0.00306441]]), 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.]), 'frame': None, 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n:Number of Instances: 442\n\n:Number of Attributes: First 10 columns are numeric predictive values\n\n:Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n:Attribute Information:\n    - age     age in years\n    - sex\n    - bmi     body mass index\n    - bp      average blood pressure\n    - s1      tc, total serum cholesterol\n    - s2      ldl, low-density lipoproteins\n    - s3      hdl, high-density lipoproteins\n    - s4      tch, total cholesterol / HDL\n    - s5      ltg, possibly log of serum triglycerides level\n    - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n', 'feature_names': ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], 'data_filename': 'diabetes_data_raw.csv.gz', 'target_filename': 'diabetes_target.csv.gz', 'data_module': 'sklearn.datasets.data'}

### the below two code cells, we can see that the 'data' inside both of them is same

In [504]:
diabetes['data'] == diabetes_notAsFrame['data']

      age   sex   bmi    bp    s1    s2    s3    s4    s5    s6
0    True  True  True  True  True  True  True  True  True  True
1    True  True  True  True  True  True  True  True  True  True
2    True  True  True  True  True  True  True  True  True  True
3    True  True  True  True  True  True  True  True  True  True
4    True  True  True  True  True  True  True  True  True  True
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
437  True  True  True  True  True  True  True  True  True  True
438  True  True  True  True  True  True  True  True  True  True
439  True  True  True  True  True  True  True  True  True  True
440  True  True  True  True  True  True  True  True  True  True
441  True  True  True  True  True  True  True  True  True  True

[442 rows x 10 columns]

In [505]:
diabetes['data'].all() == diabetes_notAsFrame['data'].all()

age    True
sex    True
bmi    True
bp     True
s1     True
s2     True
s3     True
s4     True
s5     True
s6     True
dtype: bool

but the "data" in both of them differs in their data type

In [506]:
type(diabetes['data']) == type(diabetes_notAsFrame['data'])

False

### in [diabetes = load_diabetes(as_frame=True)], if we do not use [as_frame=True], the inner data would NOT be in the type "pandas data frame"

In [507]:
print(type(diabetes['data']))

<class 'pandas.core.frame.DataFrame'>

In [508]:
print(type(diabetes_notAsFrame['data']))

<class 'numpy.ndarray'>

### refer the below two code lines for the further understanding of "as_frame=True"

In [509]:
print(f"Type of diabetes: {type(diabetes)}")
print(f"Keys in diabetes object: {diabetes.keys()}")
print(f"Type of diabetes['data']: {type(diabetes['data'])}")
print(f"Type of diabetes['target']: {type(diabetes['target'])}")

Type of diabetes: <class 'sklearn.utils._bunch.Bunch'>
Keys in diabetes object: dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])
Type of diabetes['data']: <class 'pandas.core.frame.DataFrame'>
Type of diabetes['target']: <class 'pandas.core.series.Series'>

In [510]:
print(f"Type of diabetes: {type(diabetes_notAsFrame)}")
print(f"Keys in diabetes object: {diabetes_notAsFrame.keys()}")
print(f"Type of diabetes['data']: {type(diabetes_notAsFrame['data'])}")
print(f"Type of diabetes['target']: {type(diabetes_notAsFrame['target'])}")

Type of diabetes: <class 'sklearn.utils._bunch.Bunch'>
Keys in diabetes object: dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])
Type of diabetes['data']: <class 'numpy.ndarray'>
Type of diabetes['target']: <class 'numpy.ndarray'>

### df.head() can be used for pandas dataframe but not the numpy array. head() is used on a dataframe to view its entries (first 5 by default)

In [511]:
df = diabetes['data']
df_notAsFrame =  diabetes_notAsFrame['data']

In [512]:
try:
    print(df.head())
except AttributeError as e:
    print(e)

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6
0 -0.002592  0.019907 -0.017646
1 -0.039493 -0.068332 -0.092204
2 -0.002592  0.002861 -0.025930
3  0.034309  0.022688 -0.009362
4 -0.002592 -0.031988 -0.046641

In [513]:
try:
    print(df_notAsFrame.head())
except AttributeError as e:
    print(e)

'numpy.ndarray' object has no attribute 'head'

## Importance of pandas data frame

### why use data as a Pandas DataFrame:

* Looks like a table â†’ easy to read and understand

* Clean data easily â†’ remove errors, blanks, duplicates

* Organized columns â†’ each column is one clear type of info

* Quick changes â†’ sort, filter, edit in seconds

* Works with ML tools â†’ most AI models accept it directly

* Handles big data â†’ fast even with large datasets

* Find patterns â†’ simple summaries show insights

* Saves time â†’ less manual work, fewer mistakes

In short: DataFrames make raw data clean, clear, and ready for machine learning.

### Why Pandas DataFrame is better:

Over Dictionary:
* Has rows & columns (dictionary is messy lists)
* Easy to clean and analyze
* Built for data, not storage

Over Array (list):
* Columns have names (arrays donâ€™t)
* Can mix different data types
* Easier to read and edit

Over NumPy Array
* Labeled columns â†’ clearer meaning
* Better handling of missing data
* Easier filtering, grouping, summarizing

Bottom line:
* DataFrame = clearer, smarter, and more practical for real-world data.

## Creating pandas dataframe from series, manually, instead of importing it from sklearn library

In [514]:
cities = pd.Series(['Delhi', 'Mumbai', 'Bangalore', 'Chennai'])
population = pd.Series([33000000, 22000000, 15000000])

df_cityPopulation = pd.DataFrame({'city':cities, 'population':population})

print(type(df_cityPopulation))
print(df_cityPopulation.head())

<class 'pandas.core.frame.DataFrame'>
        city  population
0      Delhi  33000000.0
1     Mumbai  22000000.0
2  Bangalore  15000000.0
3    Chennai         NaN

Here, NaN stands for data not available. useful in handling 'missing data'

# Part 2

## In order to read documentation, use '?' or '??' (full documentation)

In [515]:
pd.DataFrame?

alternate way

In [516]:
? pd.DataFrame

for full documentation

In [517]:
df.head??

## Implementing head(), tail(), info(), describe(), columns, shape on a dataframe

showing first 10 entries instead of default first 5 entries as I have provided the required number of entries to be displayed in ()

In [518]:
df.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041176,-0.096346
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062917,-0.038357
7,0.063504,0.050680,-0.001895,0.066629,0.090620,0.108914,0.022869,0.017703,-0.035816,0.003064
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014960,0.011349
9,-0.070900,-0.044642,0.039062,-0.033213,-0.012577,-0.034508,-0.024993,-0.002592,0.067737,-0.013504

tail() to view last entries

In [519]:
df.tail(7)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
435,-0.012780,-0.044642,-0.023451,-0.040099,-0.016704,0.004636,-0.017629,-0.002592,-0.038460,-0.038357
436,-0.056370,-0.044642,-0.074108,-0.050427,-0.024960,-0.047034,0.092820,-0.076395,-0.061176,-0.046641
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

Use of df.info():

Shows number of rows & columns, column names, data type of each column, missing values, memory usage.

In short:
Quick health check of your data.

In [520]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

df.describe()
* gives quick summary of data
* Shows count, average, min, max
* Helps understand data spread

In short:
* Fast overview of numerical data.

In [521]:
df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-2.511817e-19,1.230790e-17,-2.245564e-16,-4.797570e-17,-1.381499e-17,3.918434e-17,-5.777179e-18,-9.042540e-18,9.293722e-17,1.130318e-17
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01
25%,-3.729927e-02,-4.464164e-02,-3.422907e-02,-3.665608e-02,-3.424784e-02,-3.035840e-02,-3.511716e-02,-3.949338e-02,-3.324559e-02,-3.317903e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670422e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947171e-03,-1.077698e-03
75%,3.807591e-02,5.068012e-02,3.124802e-02,3.564379e-02,2.835801e-02,2.984439e-02,2.931150e-02,3.430886e-02,3.243232e-02,2.791705e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01

we can also customise the percentiles to be calculated

In [522]:
# instead of 25, 50, 75. we have 30, 50, 70

df.describe(percentiles=[0.3,0.5,0.7])

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
count,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02,4.420000e+02
mean,-2.511817e-19,1.230790e-17,-2.245564e-16,-4.797570e-17,-1.381499e-17,3.918434e-17,-5.777179e-18,-9.042540e-18,9.293722e-17,1.130318e-17
std,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02,4.761905e-02
min,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01
30%,-2.730979e-02,-4.464164e-02,-2.991782e-02,-2.873752e-02,-2.633611e-02,-2.480001e-02,-2.867429e-02,-3.949338e-02,-2.796492e-02,-2.468771e-02
50%,5.383060e-03,-4.464164e-02,-7.283766e-03,-5.670422e-03,-4.320866e-03,-3.819065e-03,-6.584468e-03,-2.592262e-03,-1.947171e-03,-1.077698e-03
70%,3.081083e-02,5.068012e-02,2.041600e-02,2.531524e-02,2.140945e-02,2.029337e-02,1.918700e-02,3.430886e-02,2.539508e-02,1.963284e-02
max,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01

df.columns to view names of the columns

In [523]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

df.shape to view the number of rows and the columns

In [524]:
df.shape

(442, 10)

## Why do df.columns and df.shape has no '()' while df.info() and df.head() do?

Short explanation:

* df.columns, df.shape â†’ values (attributes)
* df.info(), df.head() â†’ actions (methods)

Further explanation:

* df.info()        # does something (runs)
* df.head()        # does something

* df.columns       # shows stored data
* df.shape         # shows stored data


One-line rule:
* () = action, no () = value

# Part 3

## Creating pandas data frame using numpy, to generate random values for the data

In [525]:
import numpy as np

here np.random.rand(4,6) generates a bunch of random values to accomodate in  4(rows) * 6 (columns)

In [526]:
# let us know the following to understand next code cell
print(range(0,4))      # range(0,4) produces integers namely 0,1,2,3
print(list("ABCDEF"))  # provides [A, B, C, D, E, F]

range(0, 4)
['A', 'B', 'C', 'D', 'E', 'F']

In [527]:
np.random.seed(42) # this additional line of code is used to generate the same values for multiple executions.

df_random = pd.DataFrame(np.random.rand(4,6), index=range(0,4), columns=list("ABCDEF"))
print(df_random.shape)
print(df_random)

(4, 6)
          A         B         C         D         E         F
0  0.374540  0.950714  0.731994  0.598658  0.156019  0.155995
1  0.058084  0.866176  0.601115  0.708073  0.020584  0.969910
2  0.832443  0.212339  0.181825  0.183405  0.304242  0.524756
3  0.431945  0.291229  0.611853  0.139494  0.292145  0.366362

# Part 4

## Selecting desired values

### using loc(), example: loc[0:2, 'A':'C'] it considers the rows 0,1,2 (row 2 is inclusive) and the columns A, B, C (column C is inclusive). loc takes ranges in the form of names/ labels.

In [528]:
df_random.loc[0:2, 'A':'C']  # the range of rows, the range of columns

          A         B         C
0  0.374540  0.950714  0.731994
1  0.058084  0.866176  0.601115
2  0.832443  0.212339  0.181825

###
using iloc(), example: loc[0:3, 0:3] it considers the rows 0,1,2 (row 3 is NOT inclusive) and the columns 0,1,2 (column 3 is NOT inclusive). iloc takes the ranges in the form of integers

In [529]:
df_random.iloc[0:3, 0:3]

          A         B         C
0  0.374540  0.950714  0.731994
1  0.058084  0.866176  0.601115
2  0.832443  0.212339  0.181825

## Using lambda function.

In [530]:
""" Here we are using the lambda function to take the dataframe as input,
using iloc, it provides the output such that the rows are in the range 0 to 3; that is, 0, 1, 2, and similarly, the columns are in the range 0 to 3; that is, 0, 1, 2. """
selector_function = lambda df: df.iloc[0:3, 0:3]
selector_function(df_random)

          A         B         C
0  0.374540  0.950714  0.731994
1  0.058084  0.866176  0.601115
2  0.832443  0.212339  0.181825

using & - bitwise AND operator

In [531]:
""" Here we are using lambda function on df_random instead of providing the ranges directly.
I'm using a lambda function where the lambda takes the data frame and filters
columns as follows:
data frame's column A must have values greater than 0.3
data frame's column B must have a greater than 0.3 """

selector = lambda df: (df['A'] > 0.3) & (df['B'] > 0.3)
df_random[selector]

         A         B         C         D         E         F
0  0.37454  0.950714  0.731994  0.598658  0.156019  0.155995

# Part 5

## Adding an additional column to our dataframe

In [532]:
df_random['G'] = df_random['A'] *100
df_random

          A         B         C         D         E         F          G
0  0.374540  0.950714  0.731994  0.598658  0.156019  0.155995  37.454012
1  0.058084  0.866176  0.601115  0.708073  0.020584  0.969910   5.808361
2  0.832443  0.212339  0.181825  0.183405  0.304242  0.524756  83.244264
3  0.431945  0.291229  0.611853  0.139494  0.292145  0.366362  43.194502

In [533]:
df_random['H'] = df_random['A'] + df_random['B']
df_random

,A,B,C,D,E,F,G,H
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260
2,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,83.244264,1.044782
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174

In [534]:
codes = [0.000, 0.001, 0.010, 0.100] # Added column 'I' with these values.
df_random['I'] = codes
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,83.244264,1.044782,0.010
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

## Manupulating the values in a dataframe

In [535]:
""" Here we are applying.lock to df_random. In the.lock function, I am providing
the condition. The condition states that, for the column A of df_random, fetch
the value that is greater than 0.5 and equate that to zero.
The row two, that is the third row, it has the value now 0.000000 because it
satisfied the condition of greater than 0.5, i.e. 0.832443, so, it has been
replaced with zero """

df_random.loc[df_random['A'] > 0.5, 'A'] = 0
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.212339,0.181825,0.183405,0.304242,0.524756,83.244264,1.044782,0.010
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

alternate way:

In [536]:
criteria = df_random['B'] < 0.25
# Instead of writing the criteria inside the .loc function, we are just taking it out.
df_random.loc[criteria, 'B'] = 0
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.181825,0.183405,0.304242,0.524756,83.244264,1.044782,0.010
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

What happens if we replace  

df_random.loc[criteria, 'B'] = 0 with

df_random.loc[criteria] = 0 ?

* Instead of changing the particular value in the B column where the value is less than 0.25, it would make the entire row as zeros.

Additional question: why all values in the row are changed to zero, why not the entire column?

In [537]:
criteria = df_random['B'] < 0.25

df_random.loc[criteria] = 0
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

the changes made to our orginal dataframe df_random are permanent

In [538]:
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

### creating a copy, so that we do not bring any changes to our original data frame

In [539]:
df_random_copy = df_random.copy()
df_random_copy

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

In [540]:
df_random_copy.loc[df_random_copy['D'] > 0.7, ['D','E']] = 0
df_random_copy

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.000000,0.000000,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

In the above, we can see that the second row, column D and E have been changed to 0.

In [541]:
df_random

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.708073,0.020584,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

In the above, you can see that there is no change in the column D and E of the second row, in the df_random. whereas we have made the changes in df_random_copy.

### drop(), isin()

isin() is used to check if the provided value is present in the columns mentioned by us

In [542]:
df_random_copy[['A','B']].isin([0]) # it searches for 0 in columns A and B

       A      B
0  False  False
1  False  False
2   True   True
3  False  False

drop() is used to drop columns. it is not a permanent change by default

In [543]:
df_random_copy.drop(columns=['I']) # it drops column I

,A,B,C,D,E,F,G,H
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254
1,0.058084,0.866176,0.601115,0.000000,0.000000,0.969910,5.808361,0.924260
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174

In [544]:
df_random_copy # the column I is not changed in the original dataframe

,A,B,C,D,E,F,G,H,I
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254,0.000
1,0.058084,0.866176,0.601115,0.000000,0.000000,0.969910,5.808361,0.924260,0.001
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174,0.100

we can use inplace=True, to make a permanent change in original dataframe

In [545]:
df_random_copy.drop(columns=['I'], inplace=True)

df_random_copy # now, column I is deleted in the original one

,A,B,C,D,E,F,G,H
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,37.454012,1.325254
1,0.058084,0.866176,0.601115,0.000000,0.000000,0.969910,5.808361,0.924260
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.431945,0.291229,0.611853,0.139494,0.292145,0.366362,43.194502,0.723174

# Part 6

## Aggregation and Grouping

What it means:

* Grouping â†’ split data into groups

* Aggregation â†’ calculate something for each group (sum, mean, count, etc.)

In short:
* Split â†’ Apply â†’ Combine

In [549]:
# creating dataframe

data = {
    'Department': ['IT', 'IT', 'HR', 'HR', 'Sales'],
    'Salary': [50000, 60000, 40000, 45000, 70000]
}

df = pd.DataFrame(data)
df

  Department  Salary
0         IT   50000
1         IT   60000
2         HR   40000
3         HR   45000
4      Sales   70000

Grouping (groupby)

In [552]:
df.groupby('Department') # it only splits data, no calculation yet

Aggregation (mean, sum, count)

In [553]:
df.groupby('Department')['Salary'].mean() # gives average salary of each department

Department
HR       42500.0
IT       55000.0
Sales    70000.0
Name: Salary, dtype: float64

In [555]:
df.groupby('Department')['Salary'].sum() # gives the sum of salaries in each department

Department
HR        85000
IT       110000
Sales     70000
Name: Salary, dtype: int64

In [556]:
df.groupby("Department")['Salary'].count() # gives the number of employes in each department

Department
HR       2
IT       2
Sales    1
Name: Salary, dtype: int64

Multiple aggregations (agg). Let us combine these three aggregations

In [557]:
df.groupby('Department')['Salary'].agg(['mean','sum','count'])

               mean     sum  count
Department
HR          42500.0   85000      2
IT          55000.0  110000      2
Sales       70000.0   70000      1

### Grouping and Aggregating with multiple columns

In [559]:
import pandas as pd

data = {
    'Department': ['IT','IT','IT','HR','HR','HR','Sales','Sales'],
    'Gender': ['Male','Female','Male','Male','Female','Female','Male','Female'],
    'Salary': [50000, 65000, 70000, 42000, 48000, 40000, 72000, 38000]
}

df = pd.DataFrame(data)
df

  Department  Gender  Salary
0         IT    Male   50000
1         IT  Female   65000
2         IT    Male   70000
3         HR    Male   42000
4         HR  Female   48000
5         HR  Female   40000
6      Sales    Male   72000
7      Sales  Female   38000

In [561]:
df.groupby(['Department', 'Gender'])['Salary'].agg(['mean', 'sum', 'count'])
# groupby is initiated with Department then inside each Department, groupby is done based on Gender

                      mean     sum  count
Department Gender
HR         Female  44000.0   88000      2
           Male    42000.0   42000      1
IT         Female  65000.0   65000      1
           Male    60000.0  120000      2
Sales      Female  38000.0   38000      1
           Male    72000.0   72000      1

Question: how are the groupby-aggregation related to pivot tables

Pandas [cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)